<!DOCTYPE html>
<html><head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="English, study, reading">
<meta name="description" content="Count the word of English news article">
<title>Word counter</title>
<link rel="stylesheet" href="../base.css">
</head>

<body>
{% for tags in links %}
    {{ tags }}<br>
{% endfor %}
</body>
</html>